.carousel-item{
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)); 
}
.carousel-item .img{
    position: relative;
    z-index: -1;
    height: 100%;
    object-fit: cover;
   
}
.carousel-caption{
   position: absolute;
   bottom: 20%;
   left: 35%;
    
}
.slide-text{
    font-family: "Savate", sans-serif;
    max-width: 450px;
    font-size: 45px;
}
.slide-sub{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
     max-width: 500px;
}
.arrow{
    position: absolute;
    bottom: 0;
    left: 40%;
    /* z-index: 2; */
    margin-top: 50px;
    color: black;
}
@media screen and (max-width:768px) {
    .slide-text{
        font-size: 25px;
    }
    .slide-sub{
        font-size: 18px;
    }
    .carousel-caption{
         bottom: 23%;
        left: 23%;
    }
}
