.carousel-item{
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)); 
    /* z-index: -1; */
}
.carousel-item .img{
    position: relative;
    z-index: -1;
    height: 100%;
    object-fit: cover;
   
}
.carousel-caption{
   position: absolute;
   bottom: 20%;
   left: 35%;
    
}
.slide-text{
    font-family: "Savate", sans-serif;
    max-width: 450px;
    font-size: 45px;
    /* nt-family: "Oswald", sans-serif; */
}
.slide-sub{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
     max-width: 500px;
}
.arrow{
    position: absolute;
    bottom: 0;
    left: 40%;
    /* z-index: 2; */
    margin-top: 50px;
    color: black;
    

}
