.heading{
    font-family: "Oswald", sans-serif;
}
.dif{
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}
.filter-button{
     font-family: "Roboto", sans-serif;
     font-size: 16px;
}

.recipe-list{
    background-color: #EAEAEA;
}

.recipe-image{
    position: relative;
}
.search{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 200px;
}
.search:focus{
box-shadow: none;
border: none;
}
.cuisine{
    position: absolute;
    top: 0px;
    padding: 5px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(49, 49, 49, 0.2);
    color: white;
}
.difficulty{
    position: absolute;
    bottom: -16px;
    font-size: 12px;
    right: 0;
    padding: 3px 8px;
    background-color: #EAEAEA;
    font-family: "Roboto", sans-serif;
}
.error-message{
     font-family: "Oswald", sans-serif;
}
.card-title{
     font-family: "Roboto", sans-serif;
    font-size: 17px;
}
.card-value{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}